

.loader {
    font-size: 26px;
    font-weight: 600;
    color: #FFF;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    opacity: 0;
}



.color-wipes-animate {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    left:0;
    position: fixed;
    top:100%;
    width: 100%;
    height: 100vh;
    z-index: 5;
}

.color-wipe {
    height: 100vh;
    width: 100%;
    background: #be2829;
    display: none;
}

.color-wipe:nth-child(1) {
    background-color: #011627;
}

.color-wipe:nth-child(2) {
    background-color: #FF3366;
}

.color-wipe:nth-child(3) {
    background-color: #2EC4B6;
}

.color-wipe:nth-child(4) {
    background-color: #17A8A8;
}

.color-wipe:nth-child(5) {
    background-color: #20A4F3;
}