#toggle-menu{cursor:pointer;margin-bottom:0;display:flex;flex-direction:column;align-items:flex-end;position:relative;color:#fff;width:38px;height:38px;padding:5px;justify-content:center;border-radius:5px;background:rgba(255,255,255,0.5);}
.menu-logo{display:none;}
#toggle-menu:hover{background-color:#d61616;align-items:center;}
#toggle-menu:hover .menu-logo{display:inline-block;width:90%;height:90%;}
#toggle-menu.staylogo{background-color:#d61616;align-items:center;}
#toggle-menu.staylogo .menu-logo{display:inline-block;width:90%;height:90%;}
#toggle-menu.staylogo span.drop-icon{display:none;}
#toggle-menu:hover span.drop-icon{display:none;}
#menu label.drop-icon, #toggle-menu span.drop-icon{width:25px;height:2px;background:#ffffff;display:block;margin-bottom:7px;}
.inner #menu label.drop-icon, .inner #toggle-menu span.drop-icon{background:#000;}
#toggle-menu span.drop-icon:nth-child(2){width:15px;}
#menu label.drop-icon:last-child, #toggle-menu span.drop-icon:last-child{margin-bottom:0;}
#menu .drop-icon{line-height:1;}
.main-menu-wrap .menu-close{display:block;float:right;padding:6px 15px;font-size:22px;cursor:pointer;margin:43px 40px 0 0;position:relative;width:35px;height:35px;position:absolute;right:0;z-index:1;}
.main-menu-wrap .menu-close:after,
.main-menu-wrap .menu-close:before{content:"";width:35px;height:1px;background-color:rgba(255,255,255,1);display:inline-block;transform:rotate(45deg);position:absolute;left:0;top:10px;-webkit-transition-property:background-color;transition-property:background-color;-webkit-transition-duration:0.3s;transition-duration:0.3s;-webkit-transition-timing-function:ease-out;transition-timing-function:ease-out;}
.main-menu-wrap .menu-close:before{transform:rotate(-45deg);}
.main-menu-wrap .menu-close:hover:after,
.main-menu-wrap .menu-close:hover:before{background-color:rgba(255,255,255,1);}
#menu .main-menu-wrap{position:fixed;top:50px;bottom:50px;left:15px;width:100%;background:#c41414;color:#fff;text-align:left;z-index:9999999;max-width:975px;right:15px;height:100%;max-height:654px;margin:auto;-webkit-transform:scale(0);transform:scale(0);-webkit-transition-property:transform;transition-property:transform;-webkit-transition-duration:0.3s;transition-duration:0.3s;-webkit-transition-timing-function:ease-out;transition-timing-function:ease-out;}
#tm:checked + .main-menu-wrap,
#menu .main-menu-wrap.menu-active{-webkit-transform:scale(1);transform:scale(1);}
#menu{display:inline-block;}
#menu ul{padding:80px 0;}
#menu li{display:block;text-align:center;line-height:45px;margin-bottom:40px;}
#menu li:last-child{margin-bottom:0;}
#menu a{color:#fff;position:relative;transition:all .125s ease-in-out;-webkit-transition:all .125s ease-in-out;font-family:'Ubuntu-Bold';vertical-align:middle;-webkit-transform:perspective(1px) translateZ(0);transform:perspective(1px) translateZ(0);}
#menu a:hover, #menu a:focus, #menu a.active{text-shadow:none;}
#menu input[type="checkbox"],
#menu ul span.drop-icon{display:none;}
@media only screen and (min-width:768px){}
@media screen and (max-width:991px){}
@media screen and (max-width:767px){}