html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* .page-error-page 
{
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 40px;
} */

.page-error-page 
{
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.page-error-page h1{
  font-size: 200px;
  text-shadow: 4px 2px #c4bdbd;;
  color: #e64045;
  margin-top: 0px;
  margin-bottom: 0px;
}

.page-error-page p{
  font-size: 35px;
  color: black;
  margin-top: 0px;
  margin-bottom: 0px;
}

.page-error-page a{
  color:white;
  font-weight: 600;
  width: 130px;
  height: 35px;
  margin-top: 20px;
  padding-top: 4px;
  background-color:red;
  display: inline-block;
  border: 1px solid black;
  border-radius: 5px;
}
.page-error-page a:hover{
  color: white;
  text-decoration: none;
  background-color: black;
}
